body, section, div, span, input{
    margin: 0px;
    padding: 0px;
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: 600;
}

body{background-color: #F8F8EE;}

input{border-width: 0px; outline: 0px;}